# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
ENV/

# Distribution / packaging
build/
dist/
.eggs/
*.egg-info/

# Pytest cache
.pytest_cache/

# VS Code
.vscode/
